*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
}
.logo{
    height: 50px;
    width: 260px;
    cursor: pointer;
   }
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 30px;
    position: sticky;
    top: 0px;
    background-color:rgb(215, 249, 250);
    z-index: 2;
}
.navbar ul li{
    list-style: none ;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #009688;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.starter{
    background-color: rgb(215, 249, 250);
    margin:10px ; 
    padding: 35px 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.starter ul li{
    list-style: none ;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.starter ul li a{
    text-decoration: none;
    color: #009688;
    font-size: 18px;
    font-weight: 200;
}
.search{
    width: 80%;
    margin:0 10%;
    
}
.input{
    height: 35px;
    border-radius: 15px;
    width: 200px;
    margin:0 10px;
    border:solid #009688 1px;
}
.input1{
    height: 35px;
    border-radius: 10px;
    width: 370px;
    margin:0 10px;
    border:solid #009688 1px;
}
.search label{
    color: #009688;
    font-size: 18px;
    margin: 0 30px;
}
.search input:hover{
    background-color: rgb(154, 231, 205);
    transition: 0.5s;
}
.search select{
    color: #009688;
    margin:0 5px;
    font-size: 16px;
    padding-left: 40px;
}
.container_main{
    background-image:url(../images/bg2.jpg);
    width: 100%;
    height: 500px;
}
.container_sub{
    padding-top: 200px;
    width: 100%;
    text-align: center;
}
#cp1{
    padding-top: 40px;
}
.container_sub p{
    font-weight: 400;
    margin-top: 15px;
}
.body{
    margin-top: 10px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 3%;
    height: 1000px;
}
.bodydiv{
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 30%;
    height: 850px;
    box-shadow: 0 3px 6px rgba(37, 37, 70, 0.575);
        /* height: 260px; */
}
/* .bodydiv:hover{
    margin-top: 47px;
    transition: 0.5s;
} */
.bodydiv h2,p,h3{
    margin-left: 20px;
}
.bdimg{
    height: 500px;
    width: 420px;
}
.bodydiv button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 10px;
    border: 3px solid #009688;
    background-color:  rgb(154, 231, 205);
    color: rgb(59, 82, 214);
    cursor: pointer;
    transition: 0.5s;
}
.bodydiv button:hover{
    background:#fff ;
    color: #009688;
    font-size: 15px;
}
.bda{
    text-decoration: none;
    color: #009688;
}
.bda:hover{
    text-decoration: underline;
}
.hr1{
    border: 6px solid;
}
.footer{
    height: 320px;
    margin-left: 5%;

}
.footer_sub{
    margin-top: 40px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.ft2 h4{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
    margin-top: 4px;
}
.ft2 h3{
 margin-left: -1px;
 cursor: pointer;
}
.ft2 h3:hover{
    text-decoration: underline;
}
.ft2 h4:hover{
    text-decoration: underline;
}
.ft3{
    background-color: rgba(0, 0, 0, 0.781);
    color: #fff;
    height: 140px;
    width: 220px;
}
.ft3 a{
    text-decoration: underline;
    color: #fff;
}
.ft3 h4{
    margin-left: 8px;
}
.cbtn{
    margin-top: 20px;
    height: 30px;
    border: #009688;
    border-radius: 5px;
    width: 220px;
    color: #fff;
    background-color: #009688;
}
.cbtn:hover{
    background-color: #0a443e;
}
.finaldiv{
    height: 60px;
}
.finaldiv a{
 color: rgba(0, 0, 0, 0.678);
 margin-left: 40px;
}
.finaldiv span{
    margin-left: 400px;
}